@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<section class="section">
    <h3>Vehículos Destacados</h3>
    <div class="cards">
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/07/Maverick_X_ds_Turbo_Side-by-Side.jpg" alt="Auto Todoterreno">
            <h4>Auto Todoterreno</h4>
            <p>Durabilidad y velocidad en cada rincón del mundo.</p>
        </div>

    </div>
    <h5>Mira todos nuestros productos!</h5>

</section>